.codeContainer pre {
  margin: 0;
}

.codeContainer pre code{
  max-height: 100vh;
  height: 100vh;
  padding: 10px;
}

.codeContainer .graphContainer svg {
  max-width: 100%;
  padding: 10px;
  height: 100vh;
  max-height: 100vh;
}

.codeContainer .graphContainer svg circle {
  cursor: pointer;
}

.tooltip {
  display: inline-block;
  padding: 10px;
  border: #333 dashed 1px;
  border-radius: 5px;
  position: absolute;
  top: 50vh;
  left: auto;
  right: 100%;
  background: #fff;
  opacity: 0;
  transition: opacity ease 1s, left ease 0.5s, top ease 0.5s, right ease 0.5s;
}

.tooltip pre {
  margin: 0;
}